*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body{
    margin : 0;
    padding: 0;
    background-image: url(../Imagenes/bl4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor .form .header h1{
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;

}

.contenedor .form{
    background : rgba(0,0,0,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top:40px;
    padding-bottom: 50px;
    border-radius: 3px;
}

.contenedor .form .form-label{
    margin-top: 20px;
    display: block;
    color: #fff;
    font-size: 16px ;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor .form .form-input{
    background: rgba(0,0,0,.7 );
    border: none;
    outline: black;
    border-bottom: 2px solid;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor .form .btn-submit{
    width: 100%;
    outline:none;
    background: #fff;
    font-size: 16px;
    border: #fff;
    color:black;
    padding: 15px 0;
    cursor: pointer;
    
    font-family: 'Times New Roman', Times, serif;
    
}

.contenedor .form .btn-submit:hover{
    background:rgba(0, 0, 0, .7);
    color: white;
    transition:all .5s ease;

}

